<footer id="footer" class="footer">
    <div class="footer-inner">
        <div class="copyright">&copy; <span itemprop="copyrightYear">2018</span>
			<span class="with-love">
				<i class="fa fa-heart"></i>
			</span>
			<span class="author" itemprop="copyrightHolder">${theme_option('author_name') ?! 'Admin'}</span>
		</div>
		<div class="powered-by">由 <a class="theme-link" target="_blank" href="https://github.com/otale/tale">Tale</a> 强力驱动</div>
			<span class="post-meta-divider">|</span>
		<div class="theme-info">主题 &mdash; <a class="theme-link" target="_blank" href="https://github.com/zoujiayu/Tale-Theme-NexT.Pisces">NexT.Pisces</a></div>  
    </div>
</footer>
		<div class="back-to-top">
			<i class="fa fa-arrow-up"></i>
        </div>
	</div>
<script type="text/javascript">
  if (Object.prototype.toString.call(window.Promise) !== '[object Function]') {
    window.Promise = null;
  }
	//search
	$('.popup-trigger').click(function () {$('.search-forms').addClass('is-visible')});
	$('.search-go,.close-search').click(function(){$(".search-forms").removeClass("is-visible")});
</script>
<script type="text/javascript">
		var count_num=$(".post-body").length;
		document.getElementById("count-number").innerHTML = count_num ;
</script>
    <script type="text/javascript" src="${theme_url('/static/lib/fastclick/lib/fastclick.min.js?v=1.0.6')}"></script> 
    <script type="text/javascript" src="${theme_url('/static/lib/jquery_lazyload/jquery.lazyload.js?v=1.9.7')}"></script> 
    <script type="text/javascript" src="${theme_url('/static/lib/velocity/velocity.min.js?v=1.2.1')}"></script> 
    <script type="text/javascript" src="${theme_url('/static/lib/velocity/velocity.ui.min.js?v=1.2.1')}"></script>  
    <script type="text/javascript" src="${theme_url('/static/lib/fancybox/source/jquery.fancybox.pack.js?v=2.1.5')}"></script>
	<script type="text/javascript" src="${theme_url('/static/js/src/utils.js?v=5.1.4')}"></script>
	<script type="text/javascript" src="${theme_url('/static/js/src/motion.js?v=5.1.4')}"></script>
	<script type="text/javascript" src="${theme_url('/static/js/src/affix.js?v=5.1.4')}"></script>
	<script type="text/javascript" src="${theme_url('/static/js/src/schemes/pisces.js?v=5.1.4')}"></script>
	<script type="text/javascript" src="${theme_url('/static/js/src/bootstrap.js?v=5.1.4')}"></script>
	<script type="text/javascript" src="${theme_url('/static/js/src/post-details.js?v=5.1.4')}"></script>
	<script type="text/javascript" src="${theme_url('/static/js/src/scrollspy.js?v=5.1.4')}"></script>
	
	