<div class="sidebar-toggle">
    <div class="sidebar-toggle-line-wrap">
      <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
      <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
      <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
    </div>
</div>
<aside id="sidebar" class="sidebar">
    <div class="sidebar-inner affix-top">
	#if(!is_home)
	<ul class="sidebar-nav motion-element">
                <li class="sidebar-nav-toc sidebar-nav-active" data-target="post-toc-wrap">
                    文章目录
                </li>
                <li class="sidebar-nav-overview" data-target="site-overview">
                    站点概览
                </li>
    </ul>
	#end
		<section class="site-overview sidebar-panel #if(is_home) sidebar-panel-active #end">
			<div class="site-overview">
				<div class="site-author motion-element" itemprop="author" itemscope itemtype="http://schema.org/Person">
					<img class="site-author-image" itemprop="image" src="${theme_option('avatar_url') ?! theme_url('/static/images/avatar.jpg')}" alt="Tenir" />
						<p class="site-author-name" itemprop="name">${theme_option('author_name') ?! 'Admin'}</p>
						<p class="site-description motion-element" itemprop="description">${theme_option('sidebartext') ?! '胡编一通，乱写一气'}</p>
				</div>	
				<nav class="site-state motion-element">
					<div class="site-state-item site-state-posts">
						<a href="/archives/">
						<span id="count-number" class="site-state-item-count"></span>
						<span class="site-state-item-name">日志</span>
						</a>
					</div>
					<div class="site-state-item site-state-categories">
						<span class="site-state-item-count">0</span>
						<span class="site-state-item-name">分类</span>
					</div>
					<div class="site-state-item site-state-tags">
						<span class="site-state-item-count">0</span>
						<span class="site-state-item-name">标签</span>
					</div>
				</nav>
					<div class="feed-link motion-element">
						<a href="/atom.xml" rel="alternate">
							<i class="fa fa-rss"></i>
								RSS
						</a>
					</div>
				<div class="links-of-author motion-element">
				
					#if(not_empty(theme_option('sidebar_github')))
					<span class="links-of-author-item">
						<a href="https://github.com/${theme_option('social_github')}" target="_blank" title="GitHub">   
							<i class="fa fa-fw fa-github"></i>GitHub</a>
					</span> 
					#end
					
					#if(not_empty(theme_option('sidebar_email')))
					<span class="links-of-author-item">
						<a href="${theme_option('social_email')}" target="_blank" title="E-Mail">    
							<i class="fa fa-fw fa-envelope"></i>E-Mail</a>
					</span>
					#end
					
					#if(not_empty(theme_option('sidebar_google')))
					<span class="links-of-author-item">
						<a href="https://plus.google.com/${theme_option('social_google')}" target="_blank" title="Google">
							<i class="fa fa-fw fa-google"></i>Google</a>
					</span>
					#end
					
					#if(not_empty(theme_option('sidebar_twitter')))
					<span class="links-of-author-item">
						<a href="https://twitter.com/${theme_option('social_twitter')}" target="_blank" title="Twitter">                      
							<i class="fa fa-fw fa-twitter"></i>Twitter</a>
					</span>
					#end
					
					#if(not_empty(theme_option('sidebar_youtube')))
					<span class="links-of-author-item">
						<a href="https://youtube.com/${theme_option('social_youtube')}" target="_blank" title="YouTube"> 
							<i class="fa fa-fw fa-youtube"></i>YouTube</a>
					</span>
					#end
					
					#if(not_empty(theme_option('sidebar_skype')))
					<span class="links-of-author-item">
						<a href="skype:${theme_option('social_skype')}?call|chat" target="_blank" title="Skype">  
							<i class="fa fa-fw fa-skype"></i>Skype</a>
					</span>
					#end
					
					#if(not_empty(theme_option('sidebar_zhihu')))
					<span class="links-of-author-item">
						<a href="http://www.zhihu.com/people/${theme_option('social_zhihu')}" target="_blank" title="知乎">                  
							<i class="fa fa-fw fa-globe">知乎</i></a>
					</span>
					#end
					
					#if(not_empty(theme_option('sidebar_weibo')))
					<span class="links-of-author-item">
						<a href="http://weibo.com/${theme_option('social_weibo')}" target="_blank" title="微博">                  
							<i class="fa fa-fw fa-weibo">微博</i></a>
					</span>
					#end
					
				</div>         
				<div class="links-of-blogroll motion-element links-of-blogroll-block">
					<div class="links-of-blogroll-title">
						<i class="fa  fa-fw fa-link"></i>
							Links
					</div>
					<ul class="links-of-blogroll-list">                
						<li class="links-of-blogroll-item">
							<a href="http://notes.52java.cc" title="Tenir" target="_blank">Tenir Notes</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		#if(!is_home)
		<section class="post-toc-wrap sidebar-panel-active motion-element">
			<div class="post-toc-indicator-top post-toc-indicator"></div>
			<div class="post-toc">
				<p class="post-toc-empty">此文章未包含目录</p>
			</div>
		</section>
		#end
    </div>
 </aside>
 </div>
</main>